<h3><a class ="btn btn-secondary" href="/customer">Create New</a> Customer List</h3>
<table class ="table table-striped">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Email Address</th>
            <th>Phone Number</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
    {{#each list}}
    <tr>
        <td>{{this.fullName}}</td>
        <td>{{this.email}}</td>
        <td>{{this.mobile}}</td>
        <td>{{this.description}}</td>
        <td>
            <a class="btn btn-primary btn-sm" href="/customer/{{this.id}}">Update</a>
            <a class="btn btn-primary btn-sm" href="/customer/delete/{{this.id}}" 
            onclick="return confirm('Are You Sure You Want to Delete this Record?');">Delete</a>
        </td>
    </tr>
{{/each}}
</tbody>
</table>